<form method="post" action="{% url 'login:login' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control"
                maxlength="254" placeholder="Username" autofocus required>
    </div>

    <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control"
                placeholder="Password" required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
