{% extends 'layout.html' %}

{% load tags %}

{% block title %}
    New Rental for {{ depot.name }}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'depot:index' %}">Depots</a>
        </li>
        <li>
            <a href="{% url 'depot:detail' depot.id %}">{{ depot.name }}</a>
        </li>
        <li class="active">
            <span>New Rental</span>
        </li>
    </ol>

    {% if errors %}
        <div class="alert alert-danger" role="alert">
            Please fix the
            <a href="#errors-collapse" class="alert-link" data-toggle="collapse">errors below</a>
            and in the
            <a href="#checkout-modal" class="alert-link" data-toggle="modal">checkout form</a>

            <a href="#errors-collapse" class="alert-link pull-right" data-toggle="collapse">
                <span class="caret"></span>
            </a>

            <div class="collapse" id="errors-collapse">
                <hr>
                <dl class="dl-horizontal">
                    {% for key, error_list in errors.items %}
                        <dt>{{ key }}</dt>
                        <dd>
                            {% for error in error_list %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    {% endif %}

    <div class="page-header">
        <h1>
            New Rental <small>for {{ depot.name }}</small>
        </h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            Create a new rental
            <a href="#date-modal" data-toggle="modal">
                from {{ start_date }} to {{ return_date }}
            </a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-clickable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Available</th>
                        <th>Location</th>
                        {% if show_visibility %}
                            <th>Visibility</th>
                        {% endif %}
                        <th>Selected</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item, intervals, availability in availability_data %}
                        <tr class="rental-item row-clickable" data-toggle="modal" data-target="#availability-modal"
                                data-name="{{ item.name }}" data-intervals="{{ intervals|tojson }}">
                            <td class="rental-item-name">{{ item.name }}</td>
                            <td class="rental-item-availability">{{ availability }}</td>
                            <td class="rental-item-location">{{ item.location }}</td>
                            {% if show_visibility %}
                                <td>{% item_visibility item.visibility %}</td>
                            {% endif %}
                            <td class="rental-item-selected">
                                <div class="input-group number-input">
                                    <input type="text" class="form-control"
                                            value="{% firstof item_quantities|key:item.id '0' %}"
                                            data-name="item-{{ item.id }}-quantity"
                                            data-min="0" data-max="{{ availability }}">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default number-input-up">
                                            <span class="glyphicon glyphicon-chevron-up"></span>
                                        </button>
                                        <button type="button" class="btn btn-default number-input-down">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn btn-primary" id="checkout-button"
                    data-toggle="modal" data-target="#checkout-modal"
                    {% if not errors %} disabled {% endif %}>
                Checkout
            </button>

            <button type="button" class="btn btn-default"
                    data-toggle="modal" data-target="#date-modal">
                Change time frame
            </button>
        </div>
    </div>

    {% include 'depot/modals/checkout-modal.html' %}
    {% include 'depot/modals/date-modal.html' %}
    {% include 'depot/modals/availability-modal.html' %}
{% endblock %}
