{% extends 'layout.html' %}

{% load tags %}
{% load i18n %}

{% block title %}
    {% blocktrans trimmed with depot_name=depot.name organization_name=depot.organization.name %}
        {{ depot_name }} by {{ organization_name }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'depot:index' %}">{% trans 'Depots' %}</a>
        </li>
        <li class="active">
            <span>{{ depot.name }}</span>
        </li>
    </ol>

    <div class="page-header">
        <h1>
            {% blocktrans trimmed with depot_name=depot.name organization_name=depot.organization.name %}
                {{ depot_name }} <small>by {{ organization_name }}</small>
            {% endblocktrans %}

            {% if managed_by_user %}
                <a href="{% url 'admin:depot_depot_change' depot.id %}"
                        class="btn btn-default" target="_blank">
                    {% trans 'Manage' %}
                </a>
                <a href="{% url 'depot:rentals' depot.id %}"
                        class="btn btn-default">
                    {% trans 'Rentals' %}
                </a>
            {% endif %}
        </h1>
    </div>

    <p>
        {% concat_with_and depot.managers|full_names empty=_('no one apparently') as managers %}
        {% blocktrans trimmed %}
            This depot is managed by {{ managers }}.
        {% endblocktrans %}
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if depot.description %}
                {{ depot.description }}
            {% else %}
                <i>{% trans 'No description provided' %}</i>
            {% endif %}
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th class="text-center">{% trans 'Quantity' %}</th>
                        <th>{% trans 'Location' %}</th>
                        {% if show_visibility %}
                            <th class="text-center">{% trans 'Visibility' %}</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for item in item_list %}
                        <tr>
                            <th scope="row">
                                {{ forloop.counter }}
                            </th>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.description }}
                            </td>
                            <td class="text-center">
                                <span class="badge">{{ item.quantity }}</span>
                            </td>
                            <td>
                                {{ item.location }}
                            </td>
                            {% if show_visibility %}
                                <td class="text-center">
                                    <span class="glyphicon glyphicon-{% item_visibility_glyphicon item.visibility %}"
                                            aria-hidden="true"
                                            data-toggle="tooltip"
                                            data-placement="right"
                                            title="{% item_visibility item.visibility %}">
                                    </span>
                                    <span class="sr-only">{% item_visibility item.visibility %}</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="99">
                                <i>{% trans 'No items available' %}</i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#date-modal"
                    {% if not item_list %} disabled {% endif %}>
                {% trans 'Request rental' %}
            </button>
        </div>
    </div>

    {% include 'depot/modals/date-modal.html' %}
{% endblock %}
