{% extends 'layout.html' %}

{% load tags %}

{% block title %}
    {{ depot.name }} by {{ depot.organization.name }}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'depot:index' %}">Depots</a>
        </li>
        <li class="active">
            <span>{{ depot.name }}</span>
        </li>
    </ol>

    <div class="page-header">
        <h1>
            {{ depot.name }} <small>by {{ depot.organization.name }}</small>

            {% if managed_by_user %}
                <a href="{% url 'admin:depot_depot_change' depot.id %}"
                        class="btn btn-default" target="_blank">
                    Manage
                </a>
                <a href="{% url 'depot:rentals' depot.id %}"
                        class="btn btn-default">
                    Rentals
                </a>
            {% endif %}
        </h1>
    </div>

    <p>
        This depot is managed by {% concat_with_and depot.managers|full_names empty='no one apparently' %}.
    </p>

    <div class="panel panel-default">
        <div class="panel-body">
            {% if depot.description %}
                {{ depot.description }}
            {% else %}
                <i>No description provided.</i>
            {% endif %}
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="text-center">Quantity</th>
                        <th>Location</th>
                        {% if show_visibility %}
                            <th class="text-center">Visibility</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for item in item_list %}
                        <tr>
                            <th scope="row">
                                {{ forloop.counter }}
                            </th>
                            <td>
                                {{ item.name }}
                            </td>
                            <td class="text-center">
                                <span class="badge">{{ item.quantity }}</span>
                            </td>
                            <td>
                                {{ item.location }}
                            </td>
                            {% if show_visibility %}
                                <td class="text-center">
                                    <span class="glyphicon glyphicon-{% item_visibility_glyphicon item.visibility %}"
                                            aria-hidden="true"
                                            data-toggle="tooltip"
                                            data-placement="right"
                                            title="{% item_visibility item.visibility %}">
                                    </span>
                                    <span class="sr-only">{% item_visibility item.visibility %}</span>
                                </td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="99">
                                <i>No items available</i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <button type="button" class="btn btn-primary"
                    data-toggle="modal" data-target="#date-modal"
                    {% if not item_list %} disabled {% endif %}>
                Request rental
            </button>
        </div>
    </div>

    {% include 'depot/modals/date-modal.html' %}
{% endblock %}
