{% load layout %}

{% extends 'layout.html' %}

{% block title %}
    {{ depot_name }}
{% endblock %}

{% block content %}
    {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}

    <h1>{{ depot_name }} <small>by organization</small></h1>

    <form method="post" action="{% url 'login:home' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Location</th>
                {% if request.user.is_authenticated %}
                    <th>Visibility</th>
                {% endif %}
                <th>Selected</th>
            </tr>
            {% for item in item_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.location }}</td>
                    {% if request.user.is_authenticated %}
                        <td>{% item_visibility item.visibility %}</td>
                    {% endif %}
                    <td>
                         <form>
                              <input type="number" name="{{ item.id }}-quantity"
                                      min="0"max="{{ item.quantity }}" value="0">
                         </form>
                    </td>
            {% endfor %}
        </table>

        {% include 'depot/checkout-form.html' %}
    </form>
{% endblock %}
