{% extends 'layout.html' %}

{% load tags %}

{% block title %}
    Depots by organization
{% endblock %}

{% block content %}
    <h1>Depots by organization</h1>

    {% for organization in organizations %}
        <h2>
            {{ organization.name }}
            {% if user in organization.managers.all %}
                <a href="{% url 'admin:depot_organization_change' organization.id %}"
                        class="btn btn-default" target="_blank">
                    Manage
                </a>
            {% endif %}
        </h2>

        <div class="alert alert-info">
            This organization is managed by {% concat_with_and organization.managers.all %}.
        </div>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Items</th>
                {% if user in organization.managers.all %}
                    <th>Active</th>
                {% endif %}
            </tr>

            {% for depot in organization.depot_set.all %}
                {% if user in organization.managers.all or depot.active %}
                    <tr>
                        <td>
                            <a href="{% url 'depot:detail' depot.id %}">{{ depot.name }}</a>
                        </td>
                        <td>
                            {{ depot.public_items.count }}
                        </td>
                        {% if user in organization.managers.all %}
                            <td>{{ depot.active }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
