{% extends 'layout.html' %}

{% block title %}Depots{% endblock %}

{% block content %}
    <h1>Depots</h1>
    <p>WIP: Dropdown menu or somthin'</p>
    {% if depot_list %}
        <table style width="25%">
            <tr>
                <th>Name</th>
                {% if superuser %}
                <th>Active</th>
                {% endif %}
            </tr>
            {% for depot in depot_list %}
            <tr>
                <td><a href="{% url 'depot:detail' depot.id %}">{{ depot.name }}</a></td>
                {% if superuser %}
                <td>{{ depot.active }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
