{% extends 'layout.html' %}

{% load tags %}

{% block title %}
    Depots by organization
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Depots by organization</h1>
    </div>

    {% for organization in organization_depots %}
        <h2>
            {{ organization.model.name }}
            {% if organization.managed_by_user %}
                <a href="{% url 'admin:depot_organization_change' organization.model.id %}"
                        class="btn btn-default" target="_blank">
                    Manage
                </a>
            {% endif %}
        </h2>

        <p>
            This organization is managed by {% concat_with_and organization.model.managers.all|full_names empty='no one apparently' %}.
        </p>

        <div class="columns">
            {% for depot in organization.depots %}
                <div class="panel panel-primary">
                    <a href="{% url 'depot:detail' depot.id %}" class="panel-heading block-link">
                        <h3 class="panel-title">
                            {{ depot.name }}

                            <span class="badge">{{ depot.public_items.count }} items</span>

                            <span class="glyphicon glyphicon-list-alt pull-right" aria-hidden="true"></span>
                        </h3>
                    </a>
                    <div class="panel-body">
                        {% if depot.description %}
                            {{ depot.description }}
                        {% else %}
                            <i>No description provided.</i>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% empty %}
        <div class="alert alert-danger" role="alert">
            No depots available :(
        </div>
    {% endfor %}
{% endblock %}
