{% load i18n %}

<div class="modal fade" id="availability-modal" tabindex="-1"
        role="dialog" aria-labelledby="availability-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="availability-title">
                    {% blocktrans trimmed with item='<span id="availability-item"></span>' %}
                        Availability <small>of {{ item }}</small>
                    {% endblocktrans %}
                </h4>
            </div>
            <div class="modal-body">
                <canvas id="availability-chart" height="200"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    {% trans 'Close' %}
                </button>
            </div>
        </div>
    </div>
</div>
