{% load i18n %}

<div class="modal fade" id="checkout-modal" tabindex="-1"
        role="dialog" aria-labelledby="checkout-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="checkout-form" method="post" action="{% url 'rental:create' %}">
                {% csrf_token %}

                <input type="hidden" name="depot_id" value="{{ depot.id }}">
                <input type="hidden" name="start_date" value="{{ start_date_formatted }}">
                <input type="hidden" name="return_date" value="{{ return_date_formatted }}">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="checkout-title">{% trans 'Checkout' %}</h4>
                </div>
                <div class="modal-body">
                    {% include 'depot/modals/checkout-form.html' %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-left">
                        {% trans 'Submit' %}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        {% trans 'Close' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
