<div class="row">
    <div class="form-group col-md-6">
        <label for="start_date">Start date</label>
        <div class="input-group date" id="start_date_picker">
            <input type="text" class="form-control"
                    id="start_date" name="start_date"
                    value="{{ start_date.isoformat }}" required>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label for="return_date">Return date</label>
        <div class="input-group date" id="return_date_picker">
            <input type="text" class="form-control"
                    id="return_date" name="return_date"
                    value="{{ return_date.isoformat }}" required>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>

<div class="alert alert-warning">
    Changing the dates will reset all selected items because the availability
    of these items may be different in the new time frame.
</div>
