{% extends 'layout.html' %}

{% load tags %}

{% block title %}
    Rental
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'depot:index' %}">Depots</a>
        </li>
        <li>
            <a href="{% url 'depot:detail' rental.depot.id %}">{{ rental.depot.name }}</a>
        </li>
        {% if managed_by_user %}
            <li>
                <a href="{% url 'depot:rentals' rental.depot.id %}">Rentals</a>
            </li>
        {% endif %}
        <li class="active">
            <span>{{ rental.uuid }}<span>
        </li>
    </ol>

    <h1>
        Rental <small>by {{ rental.firstname }} {{ rental.lastname }}</small>
    </h1>

    <div class="alert alert-{{ alert_classes|key:rental.state }}">
        <strong>State:</strong> {% rental_state rental.state %}
    </div>

    <div>Email: {{ rental.email }}</div>
    {% if user.is_authenticated %}
        <div>User: {{ rental.user }}</div>
    {% endif %}
    <div>Purpose: {{ rental.purpose }}</div>
    <div>From: {{ rental.start_date }}</div>
    <div>To: {{ rental.return_date }}</div>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Returned</th>
            <th>Location</th>
        </tr>

        {% for item in depot.itemrental_set.all %}
            <tr class="rental-item">
                <td class="rental-item-name">{{ item.item.name }}</td>
                <td class="rental-item-quantity">{{ item.quantity }}</td>
                <td class="rental-item-returned">{{ item.returned }}</td>
                <td class="rental-item-location">{{ item.item.location }}</td>
            </tr>
        {% endfor %}
    </table>

    <form method="POST" action="{% url 'rental:state' rental.uuid %}">
        {% csrf_token %}
        {% for button in buttons %}
            <button type="submit" class="btn btn-{{ btn_classes|key:button }}"
                    name="state" value="{{ button }}">
                {{ btn_texts|key:button }}
            </button>
        {% endfor %}
    </form>
{% endblock %}
