{% extends 'layout.html' %}

{% load tags %}
{% load i18n %}

{% block title %}
    {% trans 'Rental' %}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'depot:index' %}">{% trans 'Depots' %}</a>
        </li>
        <li>
            <a href="{% url 'depot:detail' rental.depot.id %}">{{ rental.depot.name }}</a>
        </li>
        {% if managed_by_user %}
            <li>
                <a href="{% url 'depot:rentals' rental.depot.id %}">{% trans 'Rentals' %}</a>
            </li>
        {% endif %}
        <li class="active">
            <span>{{ rental.uuid }}<span>
        </li>
    </ol>

    <div class="page-header">
        <h1>
            {% blocktrans trimmed with first_name=rental.firstname last_name=rental.lastname %}
                Rental <small>by {{ first_name }} {{ last_name }}</small>
            {% endblocktrans %}

            {% if managed_by_user %}
                <a href="{% url 'admin:rental_rental_change' rental.uuid %}"
                        class="btn btn-default" target="_blank">
                    {% trans 'Manage' %}
                </a>
            {% endif %}
        </h1>
    </div>

    <div class="panel panel-{% rental_state_class rental.state %}">
        <div class="panel-heading">
            <h2 class="panel-title">
                {% trans 'Details' %}
            </h2>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>{% trans 'Status' %}</dt>
                <dd>
                    <span class="label label-{% rental_state_class rental.state %}">
                        {% rental_state rental.state %}
                    </span>
                </dd>

                <dt>{% trans 'Name' %}</dt>
                <dd>{{ rental.firstname }} {{ rental.lastname }}</dd>

                <dt>{% trans 'Email' %}</dt>
                <dd>
                    <a href="mailto:{{ rental.email }}">{{ rental.email }}</a>
                </dd>

                {% if rental.user %}
                    <dt>{% trans 'User' %}</dt>
                    <dd>{{ rental.user }}</dd>
                {% endif %}

                <dt>{% trans 'Purpose' %}</dt>
                <dd>{{ rental.purpose }}</dd>

                <dt>{% trans 'Start date' %}</dt>
                <dd>{{ rental.start_date }}</dd>

                <dt>{% trans 'Return date' %}</dt>
                <dd>{{ rental.return_date }}</dd>
            </dl>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Quantity' %}</th>
                        <th>{% trans 'Returned' %}</th>
                        <th>{% trans 'Location' %}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in rental.itemrental_set.all %}
                        <tr class="rental-item">
                            <td>{{ forloop.counter }}</td>
                            <td class="rental-item-name">{{ item.item.name }}</td>
                            <td class="rental-item-quantity">{{ item.quantity }}</td>
                            <td class="rental-item-returned">{{ item.returned }}</td>
                            <td class="rental-item-location">{{ item.item.location }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            {% for state in states %}
                <button type="button" class="btn btn-{% rental_state_class state %}"
                        data-toggle="modal" data-target="#feedback-{{ state }}-modal">
                    {{ btn_texts|key:state }}
                </button>
            {% endfor %}
        </div>
    </div>

    {% for state in states %}
        {% include 'rental/modals/feedback-modal.html' %}
    {% endfor %}

{% endblock %}
