<div class="form-group {% if errors.feedback %} has-error {% endif %}">
    <label for="purpose">Feedback for {{ rental.firstname }} {{ rental.lastname }}</label>
    <div class="input-group">
        <textarea class="form-control" id="purpose" name="purpose"
                required>{{ data.feedback }}</textarea>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-info-sign"></span>
        </span>
    </div>
    {% if errors.feedback %}
        <div class="help-block">
            {% for error in errors.feedback %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
