<!doctype html>
<meta charset="UTF-8">
<html>

    <head>
        <title>[Verleihtool] Your rental request {{ firstname }} {{ lastname }}</title>
    </head>

    <body>
        <p>Hello {{ firstname }} {{ lastname }},</p>
        <p>your rented items<br />
            from {{ start_date }}<br />
            to {{ return_date }}.<br />
        have been due since 7 days! </p>

        {% for itemrental in itemrental_list %}
            <p>
                Name: {{ itemrental.item.name }}<br />
                Location: {{ itemrental.item.location }}<br />
                Quantity: {{ itemrental.quantity }}<br />
            </p>
        {% endfor %}

        <p>Go to <a href="{{ absoluteuri }}{{ uuid }}">{{ absoluteuri }}{{ uuid }}</a> to view the items that you have to bring back! </p>

        <p>Best<br />
            the Verleihtool
        </p>
    </body>

</html>
