<!doctype html>
<html>
    <head>
        <title>Simple Transactional Email</title>
    </head>
    <body>
        <p> Hello {{ username }}, </p>
        <p> You have requested renting the following objects from {{ start_date }} to {{ return_date }}. Go to <a href="{{ absoluteuri }}{{ uuid }}">{{ absoluteuri }}{{ uuid }}</a> to view the status of your request and to edit your order. </p>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Quantity</th>
            </tr>
            {% for itemrental in itemrental_list %}
            <tr>
                <td>{{ itemrental.item.name }}</td>
                <td>{{ itemrental.item.location }}</td>
                <td>{{ itemrental.quantity }}</td>
            </tr>
            {% endfor %}
        </table>

        <p>Best - the verleihtool</p>
    </body>
</html>
